* {
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a {
  text-decoration: none;
  color: #533738;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.page__conteiner {
  width: 1400px;
  margin: auto;
  background-color: #e5e5e5;
}
.conteiner {
  width: 1036px;
  margin: auto;
}

.header {
  width: 1201px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 38px;
  font-size: 16px;
  line-height: 19.5px;
}
.heder__logo {
  margin-right: 89px;
}
.header__logo_link img {
  position: relative;
  top: 8px;
}
.header__menu_items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header__menu_item {
  margin-right: 26px;
  list-style: none;
}
.header__menu_item:nth-child(7) {
  margin-right: 0;
  margin-left: 0;
}
.header__menu_item:hover > a {
  color: #cc8b86;
  font-weight: bold;
  text-decoration: underline;
}
.promo {
  padding-top: 152px;
  padding-bottom: 20px;
  height: 543px;
  margin-top: -97px;
  background-image: url(/img/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash\ 1.jpg);
}
.promo__info {
  width: 535px;
}

.promo__title {
  font-size: 50px;
  line-height: 62px;
  padding-bottom: 24px;
}
.promo__text {
  padding-bottom: 21px;
}
.promo__link {
  display: inline-block;
  padding-top: 25px;
  padding-right: 68px;
  padding-bottom: 25px;
  padding-left: 68px;
  background-color: #cc8b86;
  color: #533738;
  font-size: 20px;
  line-height: 24px;
}
.promo__link:hover {
  color: #ffffff;
  background-color: darkblue;
}
.company {
  padding-top: 65px;
}
.company__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.company__conteiner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.company__text-coneiner {
  width: 528px;
}
.company__footer {
  width: 100%;
  background-color: #8d7370;
}
.company__list {
  display: flex;
  justify-content: space-between;
}
.company__item {
  text-align: center;
  font-size: 30px;
  line-height: 36.57px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 85px;
  padding-bottom: 81px;
  list-style: none;
}
.company-number {
  font-size: 50px;
  line-height: 62px;
}
.works {
  padding-top: 65px;
  padding-bottom: 65px;
  width: 1200px;
  margin: auto;
}

.works__title {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 10px;
}
.works-conteiner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works-conteiner img {
  margin-top: 30px;
}
.link__galiry {
  display: block;
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  line-height: 36.57px;
}
.room {
  position: relative;
}
.room-hover {
  position: absolute;
  display: none;
}
.team {
  background-color: #e2c4ba;
  padding-bottom: 35px;
}
.team__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 40px;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__list-item {
  list-style: none;
  width: 320px;
}
.team__item-text {
  padding-top: 10px;
  font-size: ;
}
.team__list-item-img:hover {
  margin-top: -10px;
  padding-bottom: 10px;
}
.process {
  background-color: #e2c4ba;
  padding-left: 99px;
  padding-right: 100px;
  padding-bottom: 80px;
}
.process__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.process__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.process__item {
  width: 285px;
  text-align: center;
}
.process__item-title {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 30px;
  background-color: #8d7370;
  color: #ffffff;
  margin-bottom: 20px;
}
.process__item-title:hover {
  background-color: darkblue;
}
.reviews {
  padding-bottom: 65px;
}
.reviews__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  padding-top: 65px;
  padding-bottom: 40px;
}
.reviews__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__text {
  width: 407px;
}
.reviews__img {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: #cc8b86;
  border-radius: 50%;
}
.reviews__text-title {
  padding-top: 19px;
  text-transform: uppercase;
}
.reviews__btn:hover {
  background-color: darkblue;
}
.application {
  background-color: #8d7370;
  height: 624px;
}
.application__conteiner {
  display: flex;
  justify-content: space-around;
}
.application__content {
  width: 508px;
  margin-left: 181px;
}
.application__content-title {
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 24px;
  padding-top: 54px;
}
.application__content-text {
  color: #ffffff;
}
.application__form {
  padding-top: 44px;
}
.application__form-btn {
  width: 310px;
  height: 74px;
  background-color: #cc8b86;
  color: #533738;
  font-size: 25px;
  line-height: 67.91px;
  border: none;
}
input[type="text"],
input[type="tel"] {
  width: 508px;
  height: 35px;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #8d7370;
  margin-bottom: 35px;
  outline: none;
}
input[type="text"]::placeholder,
input[type="tel"]::placeholder {
  color: #ffffff;
}
.application__map {
  margin-right: 100px;
}
.application__form-btn:hover {
  color: #ffffff;
  background-color: darkblue;
}
.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 37px;
}
.contacts {
  width: 161px;
  margin-right: 42px;
}

.direction {
  width: 455px;
}

.copyright {
  width: 165px;
  margin-left: auto;
}
